/*general styling for body of form*/
/*colors used: #236084 dark blue; #c21807 red; #75A3BE light blue; #49C7AB green-blue*/
* {
    box-sizing: border-box;
    display: block;
}
title{
  display: none;
}
body{
    margin: 0 auto;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin-top: 2.5%;
    padding: 1em;
    border: 1.5px solid #236084;
    box-shadow: 1px 1px 1px 0px #49C7AB;
    border-radius: 0 5% 5% 0;
}
.childContainer{
    border-top: 1px solid #236084;
    width: 95%;
}
/*allowing space for error messages*/
.form-group{
    margin: 1.5em;
}
/*making img responsive*/
img{
    width: 100%;
}

/*default input style*/
input{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin-bottom: 1em;
    padding: 3%;
    text-align: center;
}
input:invalid{
    border: 1.5px solid #c21807;
    border-radius: 5%;
}
input, input:valid, input:required{
    border:1.5px solid #236084;
    border-radius: 5%;
}
/* input focus styles*/
input:focus, input:focus:valid, input:focus:invalid{
    outline: medium double #236084;
    border-radius: 5%;
}

/*error message style*/
.error{
    width: 100%;
    color: #c21807;
    text-align: center;
}

/*centering placeholders*/
::-webkit-input-placeholder {
    text-align: center;
}
:-moz-placeholder {
    text-align: center;
}

/*centering and styling button*/
button{
    margin: 0 auto;
    background-color: #236084;
    border:1.5px solid #236084;
    border-radius: 2.5%;
    width:100%;
    padding: 3%;
    color: #fff;
    text-align: center;
    font-size: 0.95em;
}
.disabled{
    opacity: 0.6;
    cursor: not-allowed;
    cursor: auto;
}
.enabled{
    opacity: 0;
}
button:hover button:active{
    outline: 1.5px solid #236084;
}
/*valid message style
.valid{
    color: #49C7AB;
    text-align: center;
}*/
